@font-face {
    font-family: "Adam-Light";
    src: url(../fontes/Adam-Light.ttf);
}

:root {
    --bg: #ffffff;
    --text: #000000;
}

body {
    font-family: "Adam-Light", sans-serif;
    margin: 0px;
    background-color: var(--bg);
    color: var(--text);
}

body.invertido {
    --bg: #000000;
    --text: #ffffff;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 auto
}


.titulo {
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 5px;
}

.nav-btn {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
}

.nav-btn:hover {
    text-decoration: underline;
    font-weight: bold;
}

.secao--entrada {
   display: flex;
   flex-direction: column;
   height: 100vh;
   position: relative;
}

.imagemContainer {
    margin-top: 40px;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.imagemContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.botoes-auxiliares {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

#toggle-cores img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.botoes-auxiliares button {
    width: 20px;
    height: 20px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes-auxiliares button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}